div {
    background-color: cadetblue;
}
.fidget {
padding: 300px;
position: fixed;
bottom: -25px;


}

h3{
position: fixed;
top: 500px;
left: 530px;


}

button {
    background-color: white;
}

.trigger {
    height: 20px;
    width: 70px;

}

.load {
    height: 30px;
    width: 85px;

}

body {
    background-color: cadetblue;
}

.backgroundLoading {
    top: 400px;
    left: 170px;
}

.fidget {
 position: absolute;
 left: 500px;

}